SECRET='zentavos_2*24!'
VERSION='1.0.0'
MONGODB_URI='mongodb://localhost:27017'
MONGODB_USER='admin'
MONGODB_PASS='admin'
MONGODB_DB='zentavos_dev'
BUNDLEID=''
ENVIRONMENT=''

# Mailer
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=

APP_TITLE='zentavos-api'
APP_PORT='3002'

FIREBASE_SERVICE_ACCOUNT_PATH=../ServiceAccountKey.json

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_WEBHOOK_URL=
PLAID_REDIRECT_URI=
PLAID_REDIRECT_URI_NEW_ACCOUNTS=

# Google
GCP_PROJECT_ID=''
GCP_EMAIL=''
GCP_PRIVATE_KEY=''
GCP_KEY_LOCATION=''
GCP_KEY_RING=''
GCP_KEY_NAME=''
HASH_SALT=''
STORAGE_SERVICE_ACCOUNT=''
KMS_SERVICE_ACCOUNT=''
FIREBASE_SERVICE_ACCOUNT=''

#IN APP PURCHASE
IAP_CERTIFICATE=''
ISSUER_ID=''
KEY_ID=''
APPLE_SHARED_SECRET=''
APPLE_SANDBOX_EMAIL=''
APPLE_SANDBOX_PASSWORD=''

# AI
AI_URL=
AI_MODEL=
GROQ_API_KEY=
GROQ_AI_MODEL=