SECRET='zentavos_2*24!'
VERSION='1.0.0'
MONGODB_URI='mongodb://localhost:27017'
MONGODB_USER='admin'
MONGODB_PASS='admin'
MONGODB_DB='zentavos_dev'

# Mailer
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=

APP_TITLE='zentavos-api'
APP_PORT='3000'